<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
       <%- include('./partials/nav.ejs') %>
       <div class="main">
        <div class="check-weather content" id="check-weather">
            <form action="/check-weather" method="POST"> 
                <input type="hidden" id="wm" name="wm" value="city">
                <label for="city">City</label>
                <input type="text" name="city" id="city" required><br>
                <button type="submit">Check</button>
            </form>
        </div>
        <div class="display-weather content">
            <%if(locals.data){ %>
                <h2><%= data.name %>, <%= data.sys['country'] %></h2>
                <div class="content">
                    <p>Temperature: <%= data.main['temp'] %></p>
                </div>
            <%}%>
        </div>
    </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>