<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
       <%- include('./partials/nav.ejs') %>
        <div class="details content">
            <h2><%= data.name %>, <%= data.sys['country'] %></h2>
            <div class="content">
                <p>Temperature: <%= data.main['temp'] %></p>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>